/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
} */

.active{
    display: block;
}
.TransferFormcontainer a{
    line-height: 70px;
    position: relative;
    top: 30px;
    font-size: 14px;
    margin-left: 20px;
    /* color: white; */
    text-decoration: none;
}

.header h1{
    
    font-weight: bold;
    color: white;
    position: relative;
    
    left: 90px;
    bottom: 56px;
    margin: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.header a{
    color:#fff;
    font-size: 35px;
}
.form-body {
    max-width: 600px;
    margin: 50px auto;
    position: relative;
    top: 100px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-body h1, h2 {
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.button-group button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    background-color: #0074d9;
    color: white;
    width: 200px;
}

.button-group button.active {
    background-color: #005bb5;
}

.transfer-form {
    display: none;
}
#foreignTransferForm{
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;
}


#wireTransferForm{
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;
}
.transfer-form.active {
    display: block;
}

form label {
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

form input {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}
select{
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}
form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #0074d9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #005bb5;
}

/* .hidden {
    display: none;
} */


/* SUCCESS PAGE */


.success-page{
    position: relative;
    top: 100px;
    border: 1px solid;
    padding: 20px;
    width: 400px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    font-size: 17px;

}
.success-page img{
    height: 50px;
    width: 50px
}

.success-page h1{
    text-align: center;
    margin: 20px;
    font-size: 22px;

}

.success-page table{
    height: 300px;
    width: 600px;
    margin-top: 40px;
}

/* 
Transaction slip */
.hiddens {
    display: none;
}
#transactionSlip {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 370px;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    z-index: 1000;
}
 p{
    margin-top:22px;   
     
}


#transactionSlip h1{
    color: red;
    position: absolute;
    bottom: 200px;
    left: 50px;
    letter-spacing: 6px;
    font-size: 36px;
    transform: rotate(-30deg);
    opacity: 0.3;
    
}


#transactionSlip button{
    margin-top: 22px;
    padding: 10px;
    border-radius: 12px;
cursor: pointer;
}

#print{
    background-color: darkblue;
    color: white;
}

#close{
display: flex;
justify-content: flex-end;
cursor: pointer;
font-weight: 900;
font-size: 20px;
position: relative;
bottom: 24px;
}


/* Success pop up */


/* .xxx{
    display: none;
    
background-color: white;
border: 1px solid;
border-radius: 20px;;
width: 300px;
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
margin-right: auto;
margin-left: auto;
text-align: center;
}

.confirmTransaction{

} */

#confirmTransaction {
    display: none; /* Hide the confirmation by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

#declineTransaction{
        display: none;  
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        text-align: center;
        z-index: 1000;
    
}

#Loading{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

#confirmTransaction i{
    color: green;
    font-size: 40px;
}
#viewReceipt{
    background-color: darkblue;
    color: white;
}

#insuficientFunds{
    background-color: red;
    color: white;
}
#declineTransaction span{
    position: absolute;
    right: 0px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}